<div class="container">
<div class="col-md-4">
  <div class="posts">
<h2>All Posts</h2>
<hr>
</div>
<% posts.forEach(function (post) { %>
  <div class="card">
  <div class="card-block">
    <h4 class="card-title"><%=post.title %></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%=user.username%></h6>
    <p class="card-text"><%=post.body %></p>
    <a href="/users/<%= user.id %>" class="card-link">Single Post</a>
    <a href="#" class="card-link">Support</a>
  </div>
</div>
<% }) %>
</div>
<div class="col-md-4">
  <div class="posts">
<h2>My Posts</h2>
<hr>
</div>
<% my_posts.forEach(function (post) { %>
  <div class="card">
    <a href="/posts/<%= post.id %>">
    <div class="card-block">
    <p class="card-text"><%=post.body %></p>
    <form class="" action="/posts/<%= post.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" class="btn btn-danger btn-lg">
    </form>
    </div>
  </a>
</div>
<% }) %>
</div>
<div class="col-md-4">
  <div class="posts">
<h2>Goals</h2>
<hr>
</div>
</div>

<div class="col-md-4">
  <div class="posts">
<h2>Messages</h2>
<hr>
</div>
</div>

<div class="col-md-4">
  <div class="posts">
<h2>Buddies</h2>
<hr>
</div>
</div>
