<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <% include ../partials/head_auth %>
</head>

<div class="col-md-8">
  <div class="posts">
<h2>Messages</h2>
<hr>
</div>

    <div class="span3 well">
      <img src="<%=user.avatar %>" width="40" height="40" class="img-circle"><h3 style="float:right;margin:0;"><%=user.username %></h3>
    </div>
    <div class="span3 well">
      <img src="<%=user.avatar %>" width="40" height="40" class="img-circle"><h3 style="float:right;margin:0;"><%=user.username %></h3>
    </div>
    <div class="span3 well">
      <img src="<%=user.avatar %>" width="40" height="40" class="img-circle"><h3 style="float:right;margin:0;"><%=user.username %></h3>
    </div>

</div>
