<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <% include ../partials/head_auth %>
</head>
<style>
body{
   padding-bottom:80px; }
a,a:hover,p {
   text-decoration: none;
   color:black;
   }
</style>

<div class="container">
  <div class="col-sm-6 col-sm-offset-3">

  <div class="posts">
  <h2>New Messages<a class="btn btn-success" href="/messages/new" style="float:right;display:block;"role="button">Send Message</a></h2>
  <hr>
  </div>
  <% messages.forEach(function (message) { %>
  <% if(message.read === false) { %>
<a href="/messages/<%=message.id%>" class="markRead" data-href="<%=message.id%>">
    <div class="span3 well">
      <img src="<%=message.avatar%>" width="40" height="40" class="img-circle"><h3 style="float:right;margin:0;"><%=message.username %></h3>
    </div>
</a>
<br>
<% } %>
<% }) %>
<div class="posts">
<h2>Old Messages</h2>
<hr>
</div>
<% messages.forEach(function (message) { %>
<% if(message.read === true) { %>
<a href="/messages/<%=message.id%>">
    <div class="span3 well">
      <img src="<%=message.avatar%>" width="40" height="40" class="img-circle"><h3 style="float:right;margin:0;"><%=message.username %></h3>
    </div>
    </a>
<% } %>
<% }) %>
<a href="/auth">home</a>
</div>
</div>

<script>
$('.markRead').click(function(){
  var id = $(this).data('href');
  var url = "/messages/" + id;
  $.ajax({
    url: url,
    type: 'PUT',
    success: function(data){
        console.log(data); // this is currently returning FALSE
      }
    });
  });
</script>
