<!doctype html>
<html>

  <% include ../partials/head %>

  <style>
      img{
        position: fixed;
        z-index: -1!important;
        opacity: .3;
      }
  </style>

<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <form action="/users/<%=user.id%>?_method=PUT" method="post">
      <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" id="login-username" value="<%=user.username%>" required>
      </div>
      <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" name="first_name" id="login-firstname" value="<%=user.first_name%>" required>
      </div>
      <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="last_name" id="login-lastname" value="<%=user.last_name%>" required>
      </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" id="login-email" value="<%=user.email%>" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="hashed_password" id="login-password" required>
        </div>
        <div class="form-group">
            <label>Avatar Link</label>
            <input type="text" class="form-control" name="avatar" id="login-avatar" value="<%=user.avatar%>" required>
        </div>
        <div class="form-group">
            <label>Goal 1</label>
            <input type="text" class="form-control" name="goal1" id="login-goal1" value="<%=user.goal1%>" required>
        </div>
        <div class="form-group">
            <label>Goal 2</label>
            <input type="text" class="form-control" name="goal2" id="login-goal2" value="<%=user.goal2%>" required>
        </div>
        <div class="form-group">
            <label>Goal 3</label>
            <input type="text" class="form-control" name="goal3" id="login-goal3" value="<%=user.goal3%>" required>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Edit</button>
    </form>
    <hr>
    <p><a href="/auth">home</a></p>
</div>
</div>
</body>
</html>
