<!doctype html>
<html>
<head>
  <% include ../partials/head %>
  <style>
      body        { padding-top:80px; }
  </style>
</head>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
<body>
    <h3>Title: <%= post.title %></h3>
    <h3>Body: <%= post.body %></h3>


  <% if(data.length === 0) { %>
    <h5>there are no comments</h5>
    <% } else { %>
    <ul>
    <% data.forEach(function(comment) { %>
      <li><%=comment.content %> - <%=comment.username %></li>
    <% }) %>
    <% } %>
    <p></p>
    <form action="/posts/<%=postID %>" method="post">

      <label for="content">Comment:</label>
      <p>
        <textarea name="content" rows="8" cols="40" required=""></textarea>
      </p>
      <input type="submit" class="btn btn-success btn-lg">
    </form>
    <hr>

    <form class="" action="/posts/<%= post.id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" class="btn btn-danger btn-lg">
    </form>
    <hr>

    <form class="" action="/posts/<%= post.id %>/edit" method="GET">
      <input type="submit" value="Edit" class="btn btn-warning btn-lg">
    </form>
  </ul>
  <hr>
  <a href="/auth">home</a>
</div>
</div>
</body>

</html>
