<!doctype html>
<html>

  <% include ../partials/head %>

  <style>
      body        { padding-top:50px; }
  </style>

<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    <h3><u>Title</u>: <%= post.title %></h3>
    <h3><u>Body</u>: <%= post.body %></h3>
    <h3><u>Author</u>: <a href="/users/<%=post.user_id%>"><%=posts.username %></a></h3>
    <hr>
  <% if(data.length === 0) { %>
    <center><h5>there are no comments</h5></center>
    <% } else { %>
    <ul>
    <% data.forEach(function(comment) { %>
      <li><%=comment.content %> - <%=comment.username %></li>
    <% }) %>
    <% } %>
    <p></p>
  </ul>
    <form action="/posts/<%=postID %>"method="post">
      <label for="content">Comment:</label>
      <p>
        <textarea name="content" rows="4" cols="30"></textarea>
      </p>
      <input type="submit" class="btn btn-success">
    </form>
    <% if(post.user_id === userID) { %>
    <hr>
    <form action="/posts/<%=postID %>/edit"method="GET">
      <input type="submit" class="btn btn-warning" value="Edit">
    </form>
    <br>
    <form action="/posts/<%=postID %>?_method=DELETE" method="POST">
      <input type="submit" class="btn btn-danger" value="Delete">
    </form>
    <% } %>
    <hr>
    <p><a href="/auth">home</a></p>
</div>
</div>
</body>
</html>
