<!doctype html>
<html>
<head>
  <% include ../partials/head %>
  <style>
      body        { padding-top:50px; }
  </style>
</head>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
<body>
    <h3><u>Title</u>: <%= post.title %></h3>
    <h3><u>Body</u>: <%= post.body %></h3>


  <% if(data.length === 0) { %>
    <h5>there are no comments</h5>
    <% } else { %>
    <ul>
    <% data.forEach(function(comment) { %>
      <li><%=comment.content %> - <%=comment.username %></li>
    <% }) %>
    <% } %>
    <p></p>
  </ul>
    <form action="/posts/<%=postID %>" style="float:left;"  method="post">
      <label for="content">Comment:</label>
      <p>
        <textarea name="content" rows="6" cols="40" required=""></textarea>
      </p>
      <input type="submit" style="float:right;" class="btn btn-success btn-lg">
    </form>
      <form action="/posts/<%= post.id %>/edit" method="GET">
        <input type="submit" value="Edit" class="btn btn-warning btn-lg">
      </form>
</div>
</div>
</body>

</html>
